.title {
  background-color: #7cc5d9;
}

.flex-container {
  display: flex;
  border-style: solid;
  margin-bottom: 20px;
}



#bar {
  background-color: #f1f1f1;
  font-size: 15px;
  padding: 15px 40px 0px 40px;
}

#logo > img {
  height:80px;
}

#user > img {
  height:40px;
}

.nav-main{
  border: 1;
}

.nav-right {
  margin-left: auto;
}

.nav-right > ul > li {
  display: inline-block;
  margin: 15px;
}

.card {
  border-style: solid;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card-item{
  width: 200px;
  white-space: normal;
}

.card > div {
  padding: 3px;
}