.title {
  background-color: #7cc5d9;
}

.flex-container {
  display: flex;
  border-style: solid;
  margin-bottom: 20px;
}



#bar {
  background-color: #f1f1f1;
  font-size: 15px;
  padding: 15px 40px 0px 40px;
}

#logo > img {
  height:80px;
}

#user > img {
  height:40px;
}

.nav-main{
  border: 1;
}

.nav-right {
  margin-left: auto;
}

.nav-right > ul > li {
  display: inline-block;
  margin: 15px;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 2px solid white;
  width: 200px;
  background-color:#ececec;
  overflow-wrap: break-word;

}

.menu-card{
  width: 400px;
  border: 2px solid white;
  background-color:#ececec;
  overflow-wrap: break-word;
}

.card .menu-card > div {
  padding: 10px;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}

.shimmer{
  background-color: #ececec;
  width: 200px;
  border: 2px solid white;
  height: 250px;
  white-space: normal;
}

.logout-but{
  padding: 20px ;
  margin-right: 10px;
}

.user-card{
  padding: 10px;
  border: 1px solid black;
}

.menu-container{
  display: flex;
  flex-wrap: wrap;
}